<!DOCTYPE html>
<html lang="en">
<head>
  <title>Fruit Identification AI</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/bootstrap-3.3.7-dist/css/bootstrap.min.css">
  <script src="/static/js/jquery-3.5.1.min.js"></script>
  <script src="/static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
  <style>
  .fakeimg {
    height: 200px;
    background: #aaa;
  }
  </style>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="/quel_fruit">QuelFruit</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
		<li><a href="/">Try It</a></li>
      	<li><a href="/under_the_hood">Under the Hood</a></li>
        <li><a href="/authors">Authors</a></li>
        <li><a href="/thanks">Thanks</a></li>
      </ul>
    </div>
  </div>
</nav>


<div class="jumbotron text-center">
  <h2>Here's a demo video of how it works:</h2>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/JNUevY08sbM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>